@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*===================Body=====================================*/
}

body {
    background-image: url(imagens/anel.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}

/*===================Header=====================================*/
header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    transition: .6s ease;
    box-shadow: 1px 1px 4px #202020;
}


header .logo {
    position: relative;
    font-family: 'Sacramento', cursive;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;

}

header .navigation-itens a {
    position: relative;
    color: #000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.6s ease;
}

header .navigation-itens a:before {
    content: '';
    position: absolute;
    background: #000;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation-itens a:hover::before {
    width: 100%;
}
header .material-symbols-outlined{
    display: none;
}


/*===================Section=================================*/
section {
    padding: 100px 200px;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content {
    z-index: 888;
    color: #000;
    width: 500px;
    height: 350px;
    padding: 20px;
    margin-top: 50px;
    border-radius: 7px;
    box-shadow: 1px 1px 4px #202020;
}

.content h1 {
    font-size: 2.5em;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 10px;
}

.content h1 span {
    font-weight: 600;
}

.content p {
    margin-bottom: 45px;
}

.content a {
    padding: 10px 10px;
    font-size: 1.1em;
    border: none;
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 7px;
    border: 2px solid #fff;
    background-color: #000000c9;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.content a:hover {
    background-color: #ffffff95;
    color: #202020;
}

.media-icons {
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.media-icons a {
    color: #000000c9;
    font-size: 1.6em;
    transition: 0.4s ease;
}

.media-icons a:not(:last-child) {
    margin-bottom: 20px;
}

.media-icons a:hover {
    transform: scale(1.4);
}


@media (max-width:1298px) {

    header {
        padding: 20px 20px;
    }
    div.btn {
        justify-content: right;
        position: relative;
        left: 0%;
    }
    section {
        padding: 100px 20px;
    }

}
@media screen and (min-width:300px) and (max-width:939px){
    header .navigation{
        display: none;
    }
    header .login{
        display: none;
    }
    header .cadastro{
        display: none;
    }
    header .material-symbols-outlined{
        display: block;
    }
    header span#iconemen{
        display: block;
        position: relative;
        left: 150%;

     }
     header span#iconelog {
        position: relative;
        left: 22%;
    }
    header span#iconecad{
        position: relative;
        left: 15%;
    }

}

/*===================Icons Login=============================*/
.btn {
    justify-content: right;
    position: relative;
    left: 10%;
}

.btn .cadastro:hover {
    margin-left: 2px;
}

.login {
    padding: 10px 18px;
    font-size: 1.1em;
    border: none;
    color: #202020;
    border-radius: 7px;
    border: 1px solid #fff;
    font-weight: bolder;
    background-color: #ffffff10;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: .5s;
}

.login:hover {
    background-color: #ffffff80;
    color: #202020;
}

.cadastro {
    padding: 10px 10px;
    font-size: 1.1em;
    border: none;
    color: #fff;
    font-size: medium;
    font-weight: bolder;
    border-radius: 7px;
    border: 1px solid #fff;
    background-color: #000000c9;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.cadastro:hover {
    background-color: #ffffff95;
    color: #202020;

}



footer {
    background-color: #ffffff10;
    box-shadow: 1px 1px 6px #202020c0;
}

.rodape {
    padding: 5px;
    border-top: 0.4px solid #202020;
    font-family: 'Sacramento', cursive;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;

}








/*=====================================================================

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}
body{
    background-image:url(imagens/anel.jpg);
    background-size: cover;
    background-position: center;
}




header{  
    z-index: 999;
}


nav{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    padding-top: 20px;
    font-size: 1.1em;
    font-weight: bolder;
    box-shadow: 1px 1px 4px #202020;
    padding-bottom: 18px;

}

.logo{
    font-family: 'Sacramento', cursive;
    font-size: 35px;
    font-weight: bolder;
    text-align: center; 
    
}
.nav-itens {
    list-style: none;
    display: flex;

}
.nav-itens > li > a {
    padding-left: 35px;
    color: #202020;
    text-decoration: none;
    position: relative;
}


.nav-itens > li > a::after{
    content: '';
    position: absolute;
    left: 24px;
    bottom: -5px;
    width: 90%;
    height: 3px;
    background-color: #202020;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .2s;
    
}

.nav-itens > li > a:hover::after{
    transform: scaleX(1);
}


.btn{
    background-size: cover;
    justify-content: right;
}

.login{
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    color: #202020;
    border-radius: 7px;
    border: 2px solid #fff;
    font-weight: bolder;
    background-color: #ffffff10;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: .5s;
}

.login:hover{
    background-color: #ffffff80;
    color: #202020;
}
.cadastro{
    padding: 10px 25px;
    font-size: 15px;
    border: none;
    color: #fff;
    font-size:medium;
    font-weight: bolder;
    border-radius: 7px;
    border: 2px solid #fff;
    background-color: #000000c9;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.cadastro:hover{
    background-color: #ffffff95;
    color: #202020;

}

section {
    padding: 100px 200px;
    margin-top: -100px;
}

footer{
    margin: 0px;
    background-color: #ffffff10;
    box-shadow: 1px 1px 6px #202020c0;
}
.rodape {
    padding: 5px;
    border-top: 0.4px solid #202020;
    font-family: 'Sacramento', cursive;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    
}
==================================================================*/